@media only screen and (min-width: 560px) {

nav li {float: left; width: 20%;}

main figure {
    float: right;
    width: 66.67%;
    margin-left: 2%;
    padding-bottom: .5rem;
}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #ffff;
    text-align: left;
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;

div.news {
    clear: both;
    column-count: 3;
    column-rule: 1px solid #ddd;
}

} /* end of media query*/