* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* header rules here */
header {
    background-color: #e8af9a;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color: white;
}
header h2 {
    margin: 0;
    color: white;
}


/* Navigation rules here */
nav {background-color:rgb(135, 75, 177)}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: rgb(81, 34, 114);}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

nav a:hover {background-color: rgb(191, 147, 222);}

/* main rules here */
main {
    padding: 1rem 2%;
    display: block;
}
main h1 {color: #e8af9a;}

main figure img {width: 100%;}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #e8af9a;
}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #e8af9a;
}
main a.ref {
    display: block;
    padding: .8rem 0;
    margin:0;
    list-style-type: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}